.link{
    text-decoration: none;  
    font-size: 18px;
    font-weight: 800;
    padding: 1rem;
    margin: 0 1rem;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    display: inline-block;
    width: 150px;
    text-align: center;
}

.link:hover{
    background-color: black;
    border: 3px solid #2271d1;
    color: #2271d1;
    box-shadow: inset 3px 3px 5px #2271d1;
}

@media only screen and (max-width: 416px){
    .link{
        width: 213px;
        font-weight: 400;
        padding: 0.5rem;
    }
}